<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <h1>Admin Dashboard</h1>

    <form method="post" action="/editPost/{{post.post_id}}">
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="title" placeholder="Enter Post Title" value = "{{post.title}}">
    </div>
  </div>

        <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">Subtitle</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="subtitle" placeholder="Enter Post subTitle" value = "{{post.sub_title}}">
    </div>
  </div>

       <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">Location</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="location" placeholder="Enter Post location" value = "{{post.location}}">
    </div>
  </div>

       <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">Author</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="Author" placeholder="Enter Post Author" value = "{{post.author}}">
    </div>
  </div>

         <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">Date</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" name="date" placeholder="Enter Post date"  value = "{{post.date_posted}}">
    </div>
  </div>

       <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">Image url</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="image" placeholder="" >
    </div>
  </div>

         <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">Content 1</label>
    <div class="col-sm-10">
      <textarea type="text" class="form-control" name="content1" placeholder="" > </textarea>
    </div>
  </div>

          <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">Content 12</label>
    <div class="col-sm-10">
      <textarea type="text" class="form-control" name="content12" placeholder="" > </textarea>
    </div>
  </div>

      <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">slug</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="slug" placeholder="" >
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>